# Nix Build Artifacts
result
result-*

# direnv cache
*.7z
.build_state/
.cipd/
.clangd
.direnv/
.gclient*
.gcs_entries
.openclaude-profile.*
.thclaws/
.vscode/
chromium-browser-*.deb
logs/
mini_installer-*.exe
packager_output.log
patches/google-sync.patch
release-staging/
src/
win_toolchain/
manie.png
manie2.png
